<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test runner">
	<listeners>
		<listener class-name="com.gladson.bdd.main.listeners.AllureListener"></listener>
	</listeners>
	<test name="Package with subpackages">
		<classes>
				<class name="com.gladson.bdd.main.controllers.WebDriverFactory" />
				<class name="com.gladson.bdd.tests.runners.RunCukesTest" />
		</classes>
	</test>
</suite>
